.htaccess
admin/wp-config.php
admin/wp-content/uploads/
admin/wp-content/blogs.dir/
admin/wp-content/upgrade/
admin/wp-content/backup-db/
admin/wp-content/advanced-cache.php
admin/wp-content/wp-cache-config.php
admin/wp-content/cache/
admin/wp-content/backups/